<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DevIdent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
		<DevIdent.Properties.Settings>
			<setting name="ColorForm" serializeAs="String">
				<value>#00007d</value>
			</setting>
			<setting name="ColorMenu" serializeAs="String">
				<value>#1d2230</value>
			</setting>
			<setting name="ColorButtonsDefault" serializeAs="String">
				<value>#0000c8</value>
			</setting>
			<setting name="ColorContent" serializeAs="String">
				<value>#171c2a</value>
			</setting>
			<setting name="ColorButtonsHover" serializeAs="String">
				<value>#0000fe</value>
			</setting>
			<setting name="Opacity" serializeAs="String">
				<value>0.85</value>
			</setting>
			<setting name="ResetParams" serializeAs="String">
				<value>0</value>
			</setting>
		</DevIdent.Properties.Settings>
	</userSettings>
</configuration>
