<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DevIdent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
 <userSettings>
  <DevIdent.Properties.Settings>
   <setting name="ColorForm" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
   <setting name="ColorMenu" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
   <setting name="ColorButtonsDefault" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
   <setting name="ColorButtonsHover" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
   <setting name="ColorPanel" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
   <setting name="ColorContent" serializeAs="String">
    <value>255, 192, 192</value>
   </setting>
  </DevIdent.Properties.Settings>
 </userSettings>
</configuration>
